@main("Hilfeseite") {
<div class="container">
	<div class="headline" >
		<div class="row">
			<div class="col-md-6">
				<h1>Anleitung</h1>
			</div>
			<div class="col-md-2 hidden-xs hidden-sm">
				<ul class="list-unstyled centerV">
					<li> Janine Panske </li>
					<li> Daniel Hipp </li>
				</ul>
			</div>
			<div class="col-md-2 text-nowrap hidden-xs">
				<div id="github_link_header">
					<a  href="https://github.com/japanske/de.htwg.webtech.MoerakiKemu">GitHub</a>
				</div>
			</div>
			<div class="col-md-2 hidden-xs hidden-sm">
				<button id="button-black" class="btn btn-default" onclick="makeBlack()"><span>D</span></button>
				<br />
				<button id="button-white" class="btn btn-default active" onclick="makeWhite()"><span>H</span></button>
			</div>
		</div>
	</div>
	<div class="row under-headline pl5">
		<div class="col-md-8">
			<h3 class="no-top-distance pt2">Spielvorbereitung</h3>
			<p>Die Spieler bestimmen wer der Erste und wer der zweie Spieler sein möchte, und tragen sich entsprehend ein.</p>
			<p>Der erste Spieler bekommt die schwarzen Spielsteine, der zweite Spieler die Weißen</p>
			<br/>
			<br/>
			<h3>Spielbeginn</h3>
			<p>Der zweite Spieler darf die Moeraki-Kugel in eine der neun inneren Felder setzten.</p>
			<br/>
			<br/>
			<h3>Spielverlauf</h3>
			<p> Nachdem die Moeraki-Kugel gesetzt wurde, darf Spieler Eins auf eine beliebige Kante einen seiner Steine legen</p>
			<p> Anschließend setzt der zweite Spieler seinen Stein. Das wird abwechselnd fortgeführt, bis ein Spieler gewinnt.</p>
			<br/>
			<h4>Legen von Spielsteinen</h4>
			<p>Wird ein Strandquadrat vollständig an allen Ecken von Spielsteinen eingeschlossen, werden die gleichfarbgen Steine gezählt. Der Spieler der 3 Spielsteine um das Quadrat gelegt hat, bekommt einen Punkt. Sofern beide Spieler 2 Steine auf die 4 Ecken gelegt haben, erhält keiner einen Punkt.</p>
			<p>Hat ein Spieler alle 4 Ecken belegt, beendet er das Spiel.</p>
			<p>Die Moeraki-Kugel gilt als neutraler Punkt und zählt nicht zu einem Spieler. Dementsprechend gewinnt der Spieler einen Punkt der bei einem, an der Moeraki-Kugel angrenzendem, Feld die mehrheit (2) Spielsteine hat.</p>
			<p> Die Punktzählung erfolgt sobald ein Spielstein die letzte Ecke eines Quadrats füllt. Es kommt nicht darauf an, welcher Spieler diesen legte.</p>
			<p>Man kann nicht beenden, sofern man ein Quadrat schließt, das an die Moeraki-Kugel angrenzt.</p>
			<br/>
			<br/>
			<h3>Spielende</h3>
			<p> Es gbt drei Möglichkeiten ein Spiel zu beenden: </p>
			<ul>
				<li>"Tahuna": Es gelingt einem Spieler ein Quadrat vollständig zu umschließen.</li>
				<li>"Ara": Es gelingt einem Spieler, von der Moeraki-Kugel bis zum Rand mit seinen Kugel einen Linie zu bilden.</li>
				<li>"Marae": Sämtliche Ecken des Spielfelds sind belegt.</li>
			</ul>
			<p>Sobald ein Spiel beendet wurde, werden die Punkte gezählt. Der Spieler mit den meisten Punkten gewinnt.</p>
			<p>Der Spieler der beendet hat, gewinnt NICHT automatisch weil er beendet hat, sondern es werden regulär die Punkte gezählt.</p>
			<br/>
			<br/>
		</div>
		<div class="col-md-4">
			<div class="fixed no-top-distance">
				<img class="z-index3" src="@routes.Assets.versioned("images/anleitung_img.jpeg")"/>
			</div>
		</div>
	</div>
</div>
}