
@(message: String)

@main("Hilfeseite") {
	<div class="container-fluid" >
		<div>

			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Start</a></li>
				<li role="presentation"><a href="#game" aria-controls="game" role="tab" data-toggle="tab">Game</a></li>
				<li role="presentation"><a href="#help" aria-controls="help" role="tab" data-toggle="tab">Hilfe</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="home">

				</div>
				<div role="tabpanel" class="tab-pane" id="game">
					<div class="mt5 fieldplane center-block">
						<div class="fieldrow">
							<div class="field" id="A1"></div>
							<div class="field" id="A2"></div>
							<div class="field" id="A3"></div>
							<div class="field" id="A4"></div>
							<div class="field" id="A5"></div>
							<div class="field" id="A6"></div>
							<div class="field" id="A7"></div>
							<div class="field" id="A8"></div>
						</div>
						<div class="fieldrow">
							<div class="field" id="B1"></div>
							<div class="field" id="B2"></div>
							<div class="field" id="B3"></div>
							<div class="field" id="B4"></div>
							<div class="field" id="B5"></div>
							<div class="field" id="B6"></div>
							<div class="field" id="B7"></div>
							<div class="field" id="B8"></div>
						</div>
						<div class="fieldrow">
							<div class="field" id="C1"></div>
							<div class="field" id="C2"></div>
							<div class="field" id="C3"></div>
							<div class="field" id="C4"></div>
							<div class="field" id="C5"></div>
							<div class="field" id="C6"></div>
							<div class="field" id="C7"></div>
							<div class="field" id="C8"></div>
						</div>
						<div class="fieldrow">
							<div class="field" id="D1"></div>
							<div class="field" id="D2"></div>
							<div class="field" id="D3"></div>
							<div class="field" id="D4"></div>
							<div class="field" id="D5"></div>
							<div class="field" id="D6"></div>
							<div class="field" id="D7"></div>
							<div class="field" id="D8"></div>
						</div>
						<div class="fieldrow">
							<div class="field" id="E1"></div>
							<div class="field" id="E2"></div>
							<div class="field" id="E3"></div>
							<div class="field" id="E4"></div>
							<div class="field" id="E5"></div>
							<div class="field" id="E6"></div>
							<div class="field" id="E7"></div>
							<div class="field" id="E8"></div>
						</div>
						<div class="fieldrow">
							<div class="field" id="F1"></div>
							<div class="field" id="F2"></div>
							<div class="field" id="F3"></div>
							<div class="field" id="F4"></div>
							<div class="field" id="F5"></div>
							<div class="field" id="F6"></div>
							<div class="field" id="F7"></div>
							<div class="field" id="F8"></div>
						</div>
						<div class="fieldrow">
							<div class="field" id="G1"></div>
							<div class="field" id="G2"></div>
							<div class="field" id="G3"></div>
							<div class="field" id="G4"></div>
							<div class="field" id="G5"></div>
							<div class="field" id="G6"></div>
							<div class="field" id="G7"></div>
							<div class="field" id="G8"></div>
						</div>
						<div class="fieldrow">
							<div class="field" id="H1"></div>
							<div class="field" id="H2"></div>
							<div class="field" id="H3"></div>
							<div class="field" id="H4"></div>
							<div class="field" id="H5"></div>
							<div class="field" id="H6"></div>
							<div class="field" id="H7"></div>
							<div class="field" id="H8"></div>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="help">
					<h3 class="no-top-distance pt2">Spielvorbereitung</h3>
					<p>Die Spieler bestimmen wer der Erste und wer der zweie Spieler sein möchte, und tragen sich entsprehend ein.</p>
					<p>Der erste Spieler bekommt die schwarzen Spielsteine, der zweite Spieler die Weißen</p>
					<br/>
					<br/>
					<h3>Spielbeginn</h3>
					<p>Der zweite Spieler darf die Moeraki-Kugel in eine der neun inneren Felder setzten.</p>
					<br/>
					<br/>
					<h3>Spielverlauf</h3>
					<p> Nachdem die Moeraki-Kugel gesetzt wurde, darf Spieler Eins auf eine beliebige Kante einen seiner Steine legen</p>
					<p> Anschließend setzt der zweite Spieler seinen Stein. Das wird abwechselnd fortgeführt, bis ein Spieler gewinnt.</p>
					<br/>
					<h4>Legen von Spielsteinen</h4>
					<p>Wird ein Strandquadrat vollständig an allen Ecken von Spielsteinen eingeschlossen, werden die gleichfarbgen Steine gezählt. Der Spieler der 3 Spielsteine um das Quadrat gelegt hat, bekommt einen Punkt. Sofern beide Spieler 2 Steine auf die 4 Ecken gelegt haben, erhält keiner einen Punkt.</p>
					<p>Hat ein Spieler alle 4 Ecken belegt, beendet er das Spiel.</p>
					<p>Die Moeraki-Kugel gilt als neutraler Punkt und zählt nicht zu einem Spieler. Dementsprechend gewinnt der Spieler einen Punkt der bei einem, an der Moeraki-Kugel angrenzendem, Feld die mehrheit (2) Spielsteine hat.</p>
					<p> Die Punktzählung erfolgt sobald ein Spielstein die letzte Ecke eines Quadrats füllt. Es kommt nicht darauf an, welcher Spieler diesen legte.</p>
					<p>Man kann nicht beenden, sofern man ein Quadrat schließt, das an die Moeraki-Kugel angrenzt.</p>
					<br/>
					<br/>
					<h3>Spielende</h3>
					<p> Es gbt drei Möglichkeiten ein Spiel zu beenden: </p>
					<ul>
						<li>"Tahuna": Es gelingt einem Spieler ein Quadrat vollständig zu umschließen.</li>
						<li>"Ara": Es gelingt einem Spieler, von der Moeraki-Kugel bis zum Rand mit seinen Kugel einen Linie zu bilden.</li>
						<li>"Marae": Sämtliche Ecken des Spielfelds sind belegt.</li>
					</ul>
					<p>Sobald ein Spiel beendet wurde, werden die Punkte gezählt. Der Spieler mit den meisten Punkten gewinnt.</p>
					<p>Der Spieler der beendet hat, gewinnt NICHT automatisch weil er beendet hat, sondern es werden regulär die Punkte gezählt.</p>
					<br/>
					<br/>
				</div>
			</div>

		</div>
	</div>


}
