
@(message: String)

@main("Hilfeseite") {
	<div class="container-fluid" >
		<div>

			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Start</a></li>
				<li role="presentation"><a href="#game" aria-controls="game" role="tab" data-toggle="tab">Game</a></li>
				<li role="presentation"><a href="#help" aria-controls="help" role="tab" data-toggle="tab">Hilfe</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="home">

				</div>
				<div role="tabpanel" class="tab-pane" id="game">
					<div class="plate center-block pt5">
						<div class="field"></div>
						<div class="field"></div>
						<div class="field"></div>
						<div class="field"></div>
						<div class="field"></div>
						<div class="field"></div>
						<div class="field"></div>
					</div>
					<div class="plate center-block">
						<div class="field"></div>
						<div class="field"></div>
						<div class="field"></div>
						<div class="field"></div>
						<div class="field"></div>
						<div class="field"></div>
						<div class="field"></div>
					</div>
					<div class="plate center-block">
						<div class="field"></div>
						<div class="field"></div>
						<div class="field"></div>
						<div class="field"></div>
						<div class="field"></div>
						<div class="field"></div>
						<div class="field"></div>
					</div>
					<div class="plate center-block">
						<div class="field"></div>
						<div class="field"></div>
						<div class="field"></div>
						<div class="field"></div>
						<div class="field"></div>
						<div class="field"></div>
						<div class="field"></div>
					</div>
					<div class="plate center-block">
						<div class="field"></div>
						<div class="field"></div>
						<div class="field"></div>
						<div class="field"></div>
						<div class="field"></div>
						<div class="field"></div>
						<div class="field"></div>
					</div>
					<div class="plate center-block">
						<div class="field"></div>
						<div class="field"></div>
						<div class="field"></div>
						<div class="field"></div>
						<div class="field"></div>
						<div class="field"></div>
						<div class="field"></div>
					</div>
					<div class="plate center-block pb5">
						<div class="field"></div>
						<div class="field"></div>
						<div class="field"></div>
						<div class="field"></div>
						<div class="field"></div>
						<div class="field"></div>
						<div class="field"></div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="help">

				</div>
			</div>

		</div>
	</div>


}
