aw.no-top-distance {
    margin-top: 0px;
    padding-top: 0px;
}

.ml2{
    margin-left: 2%;
}

.ml5{
    margin-left: 5%;
}

.ml10{
    margin-left: 10%;
}

.mt2 {
    margin-top: 2%;
}

.mt5 {
    margin-top: 5%;
}

.mt10 {
    margin-top: 10%;
}

.mr2 {
    margin-right: 2%;
}

.mr5 {
    margin-right: 5%;
}

.mr10 {
    margin-right: 10%;
}

.mb2 {
    margin-bottom: 2%;
}

.mb5 {
    margin-bottom: 5%;
}

.mb10 {
    margin-bottom: 10%;
}

.pl2{
    padding-left: 2%;
}

.pl5{
    padding-left: 5%;
}

.pl10{
    padding-left: 10%;
}

.pt2 {
    padding-top: 2%;
}

.pt5 {
    padding-top: 5%;
}

.pt10 {
    padding-top: 10%;
}

.pr2 {
    padding-right: 2%;
}

.pr5 {
    padding-right: 5%;
}

.pr10 {
    padding-right: 10%;
}

.pb2 {
    padding-bottom: 2%;
}

.pb5 {
    padding-bottom: 5%;
}

.pb10 {
    padding-bottom: 10%;
}

.zindex1 {
    z-index: 1;
}

.zindex2 {
    z-index: 2;
}

.zindex3 {
    z-index: 3;
}

.textblock {
    position: relative;
}

.fixed {
    position: fixed;
}

.middle {
    margin-left: auto;
    margin-right: auto;
}

.under-headline {
    padding-top: 130px;
}

.names {
	z-index:2;
	background-color: #FFFFFF;
    opacity: 0.5;
}

.headline {
    font-family: 'Indie Flower', cursive;
    margin-right: 100px;
    margin-left: 100px;
    color: #000000;
    background-color: #FFFFFF;
    opacity: 0.5;  
}

h1 {
	font-size: 2.0em;
	font-family: 'Indie Flower', cursive;
}

h3 {
	font-size:1.5em;
	font-family: 'Indie Flower', cursive;
}

h4 {
	font-size:1.5em;
	font-family: 'Indie Flower', cursive;
}

.fontart {
	font-family: 'Indie Flower', cursive;
	z-index: 3;
}

.beschreibung {
	font-family: 'Indie Flower', cursive;
    background-color: #FFFFFF;
    font-size: 2.0em;
    opacity: 0.5;
    z-index: 3;
}

.producer {
    background-color: #FFFFFF;
    opacity: 0.5;
}

.help {
	background-color: #FFFFFF;
	font-size: 2.0em;
    opacity: 0.5;
}

.container {
	font-size: 1.8em;
    z-index:2;
    background-color: #FFFFFF;
    opacity: 0.8;
    padding-top: 3%
}

.black_background {
    background-color: #000000;
    color: #FFFFFF;
}

.white_background {
    background-color: #FFFFFF;
    color: #000000;
}

.clearBoth {
    clear: both;
}

.index {
    height: 570px;
}

.fieldplane {
    height: 100%;
}

.fieldrow {
    height: 10%;
}

.field {
    float: left;
    width: 12.5%;
    height: 100%;
    border-style: solid;
    border-width: 1px;
}

.startDot {
    background-color: #009900;
}

.player1Dot {
    background-color: #e10000;
}

.player2Dot {
    background-color: #0000d0;
}

#content {
	background-image: url(http://tripfreakz.com/uploads/mo05.jpg);
	background-size: cover;
	background-attachement: fixed;
}

#login-div {
    width: 525px;
}

#login-button {
    width: 120px;
}

a {
   color: #9932CC;
   text-transform: uppercase;
}